version: "3.8"

services:
  excalidraw:
    build:
      context: .
      dockerfile: excalidraw.Dockerfile
      args:
        VITE_APP_WS_SERVER_URL: ${VITE_APP_WS_SERVER_URL}
        CACHE_INVALIDATOR: ${CACHE_INVALIDATOR}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.excalidraw.rule=Host(`${EXCALIDRAW_DOMAIN}`)"
      - "traefik.http.routers.excalidraw.entrypoints=https"
      - "traefik.http.routers.excalidraw.tls=true"
      - "traefik.http.services.excalidraw.loadbalancer.server.port=8080"

  collab:
    image: excalidraw/excalidraw-room
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.collab.rule=Host(`${COLLAB_DOMAIN}`)"
      - "traefik.http.routers.collab.entrypoints=https"
      - "traefik.http.routers.collab.tls=true"
      - "traefik.http.services.collab.loadbalancer.server.port=8081"
